{
  "bianxieai": {
    "name": "便携AI",
    "domestic_openai_base_url": "https://api.bianxieai.com/v1",
    "foreign_openai_base_url": "https://api.bianxieai.com/v1",
    "index_url": "https://api.bianxieai.com",
    "payment_url": "https://shop.bianxieai.com/",
    "openai_api_key": "此处设置你的api-key",
  },
  "chatanywhere": {
    "name": "ChatAnywhere",
    "domestic_openai_base_url": "https://api.chatanywhere.tech/v1",
    "foreign_openai_base_url": "https://api.chatanywhere.cn/v1",
    "index_url": "https://api.chatanywhere.tech",
    "payment_url": "https://peiqishop.me/",
    "openai_api_key": "此处设置你的api-key",
  },
  "free": {
      "name": "免费",
      "domestic_openai_base_url": "https://api.chatanywhere.tech/v1",
      "foreign_openai_base_url": "https://api.chatanywhere.cn/v1",
      "index_url": "https://api.chatanywhere.tech",
      "payment_url": "https://peiqishop.me/",
      "openai_api_key": "此处设置你的api-key"
    }
}