python-telegram-bot[webhooks,job-queue]==21.3
fake-useragent==1.5.1
orjson==3.10.5
python-dotenv==1.0.1
requests==2.31.0
aiohttp==3.9.5
aiodns==3.2.0
beautifulsoup4==4.12.3
lxml==5.2.2
tmdbv3api==1.9.0
aligo==6.2.4
openai==1.35.13
tiktoken==0.7.0
regex==2024.5.15
opencv-python-headless==4.10.0.84
redis==5.0.6
pandas==2.2.2
chardet==5.2.0
python-docx
xlrd==2.0.1
openpyxl==3.1.4
js2py==0.74